@{
    ViewData["Title"] = "Home Page";
}

<div class="hero-section">
    <div class="hero-top-area">
        <div class="container hero-content">
            <h1 class="hero-title">Монтаж, демонтаж и доставка окон</h1>
            <div class="hero-cta">
                <p class="hero-description">Профессиональные услуги по остеклению и утеплению балконов, установке и ремонту окон - качество, надежность и комфорт для вашего дома</p>
                <a asp-action="Create" asp-controller="Order" class="nav-link--button hero-button">Оставить заявку</a>
            </div>
        </div>
    </div>

    <div class="hero-slider-bg">
        <div class="slide active" style="background-image: url('/images/hero/hero1.jpg');"></div>
        <div class="slide" style="background-image: url('/images/hero/hero2.jpg');"></div>
        <div class="slide" style="background-image: url('/images/hero/hero3.jpg');"></div>
    </div>


</div>
